# build output
dist/
# dependencies
node_modules/
# generated types
.astro/
# environment / logs
.env
.env.production
npm-debug.log*
# os files
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
